$colors: (
  accent: (
    200: hsl(162, 90%, 90%),
    400: hsl(162, 90%, 60%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 100%, 0.8),
    300: hsl(0, 0%, 100%, 0.7),
    400: hsl(0, 0%, 100%, 0.4),
    500: hsla(238, 32%, 70%, 0.6),
    800: hsl(238, 40%, 15%),
  ),
);
