$type-scale: (
  sm: (
    300: 0.75rem,
    400: 0.875rem,
    500: 1.125rem,
    600: 1.375rem,
    700: 1.75rem,
    900: 2.25rem,
  ),
  lg: (
    300: 0.75rem,
    400: 0.875rem,
    500: 1.125rem,
    600: 1.5rem,
    700: 2.25rem,
    900: 4.5rem,
  ),
);
