.container {
  width: min(100% - 2rem, 75rem);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.region {
  --size: clamp(2rem, 5vw, 4rem);
  padding-block-start: var(--region-top, var(--size));
  padding-block-end: var(--region-bottom, var(--size));
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
